:root {
    font-family: "Red Hat Display", sans-serif;
    /* PRimary Color  */
    --light-coffee-0: #f9f4ef;
    --light-coffee-1: #eaddcf;
    --chocolate-brown: #572a17;
    /* Secondary Colors */
    --coffee-brown-dark: #716040;
    --coffee-brown-light: #8c7851;
    --light-color: #fffffe;
    /* Accent Colors */
    --pink: #f25042;
    --pink-dark: #e04a3c;
    /* Neutral Colors */
    --black: #020826;
    --White: #f5f5ef;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

html {
    background-image: linear-gradient( to bottom, rgba(24, 18, 7, 0.59), rgba(58, 29, 2, 0.52)), url(res/header.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    /* background: url(res/header.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

hr {
    border-bottom: 3px solid var(--pink);
    border-style: solid;
    max-width: 65px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}


/* Text  */

.main-heading-text {
    font-family: "Playfair Display", serif !important;
    font-size: 3rem;
}

.heading-text {
    font-family: "Playfair Display", serif !important;
    font-size: 2rem;
}

.body-text {
    font-family: "Red Hat Display", sans-serif !important;
    font-size: 1rem;
}

.text-hair {
    font-weight: normal !important;
}

.text-medium {
    font-weight: bold !important;
}

.text-bold {
    font-weight: 900 !important;
}


/* backgrounds */

.bg-coffee {
    background-color: var(--coffee-brown-dark);
}

.bg-light {
    background-color: var(--light-color);
}

.bg-black {
    background-color: var(--black);
}

.bg-light-coffee-1 {
    background-color: var(--light-coffee-1);
}

.bg-light-coffee-0 {
    background-color: var(--light-coffee-0);
}

.bg-accent {
    background-color: var(--pink);
}


/* buttons  */

.btn-xl {
    padding: 1rem 2rem;
    text-transform: uppercase;
}

.btn-rounded {
    border-radius: 300px;
}

.btn-primary {
    background-color: var(--pink);
    border: 2px solid transparent;
    /* outline: none; */
}

.btn-primary:link,
.btn-primary:visited {
    background-color: var(--pink);
    border: 2px solid transparent;
    /* outline: none; */
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    outline: none !important;
    box-shadow: none;
    background-color: var(--pink-dark);
    border: 3px solid var(--pink-dark);
}

.btn-primary:hover {
    transform: translateY(-3px);
    box-shadow: 2px 5px 23px rgba(17, 17, 17, 0.486)!important;
    transition: all 0.1s ease-in-out;
}

.btn-primary:active {
    transform: translateY(3px);
    box-shadow: 2px 5px 23px rgba(17, 17, 17, 0.2)!important;
    transition: all 0.1s ease-in-out;
}


/* header */


/* transform */